<div class="space-to-top"></div>
<div class="about-main">
  <h2>
    <a style="vertical-align: middle;" href="/"><img width="150px" src="/motoky_logo.png" alt=""></a> について
  </h2>
  <img class="about-picture" src="/about_page_image_many_pics.png">
  <div class="about-explanation" style="margin: 0 auto;">
    <span class="about-text">
      モトキィは、これから実行する、もしくは既に実行したプロポーズの内容について語る場です。<br>
      どんなシチュエーションだったのか？どんなことを言ったのか？時間帯は？季節は？プロポーズは<br>
      する側・される側の両方にとって人生の一大イベントであるにも関わらず、その詳細を語る場は多くありません。<br><br>

      ここは、そんな皆さんのプロポーズのエピソードを語り合い、どんなプロポーズにするか考えている方々の<br>
      参考にしていただく、そんな場です！！
    </span>
  </div>
</div>