<div class="main top-main">
  <div class="top-title">
    <img class="top-picture" src="/top_4.jpg">
    <div class="top-message">
      <p class="box fade-in" style="animation-delay: 1s;">プロポーズ ――</p>
      <p class="box fade-in" style="animation-delay: 3s;">それは ――</p>
      <p class="box fade-in" style="animation-delay: 5s;">人生で一度きりの ――</p>
      <p class="box fade-in" style="animation-delay: 7s;">…… ――</p>

      <div style="padding-top: 80px; padding-left: 70px;">
        <p class="box fade-in" style="animation-delay: 9.5s; font-size: 12px;font-weight: bold;">させない、結婚を。「人生の墓場」に、なんて。</p>
        <img class="box fade-in" width="230px" style="animation-delay: 11s; mix-blend-mode: multiply;" src="/motoky_logo.png">
      </div>
    </div>
  </div>

  <a class="go-to-index" href="/posts/index"><br>掲示板はこちら</a>
</div>